.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.full-height {
  height: 100vh;
  display: flex;
}

.left-section, .right-section {
  width: 350px; 
  overflow-y: auto; 
  height: 100%;
  background-color: #F4F4F4; 
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; 
  height: 100%;
  background-color: #fff; 
  padding: 1rem;
  width: 1000px;
}

.vr {
  border-left: 1px solid #dee2e6; 
  height: 100%;
}

.p-2 {
  padding: 1rem; 
}

#recipes-right{
  margin-right: 1%;
}