.star-rating {
  display: flex;
  direction: row;
}

.star-rating .on {
  color: gold;
}

.star-rating .off {
  color: grey;
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.star-rating .star {
  font-size: 2rem;
}

.see-dets-img{
  height: 800px;
  object-fit: cover
}

.recipe-img{
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
}